<h1>Editing postulacion</h1>

<%= render "form", postulacion: @postulacion %>

<br>

<div>
  <%= link_to "Show this postulacion", @postulacion %> |
  <%= link_to "Back to postulacions", postulacions_path %>
</div>
