<div id="<%= dom_id ofertum %>">
  <p>
    <strong>Titulo:</strong>
    <%= ofertum.titulo %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= ofertum.salario %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ofertum.description %>
  </p>

</div>
